@import "tailwindcss";

@theme inline {
  --color-team-red: #FF0000;
  --color-team-red-light: #FFAAAA;
  --color-team-blue: #0000FF;
  --color-team-blue-light: #AAAAFF;
  --color-champion: var(--color-yellow-500);
}

html, body, #container {
  @apply w-full h-full;
}

#container {
  @apply flex flex-col;
}

#main {
  @apply grow;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

input, select, textarea {
  @apply border bg-white text-neutral-800 p-2;

  &.disabled, &:disabled {
    @apply text-neutral-500;
  }
}

.btn {
  @apply inline-block p-2 bg-blue-600 hover:bg-blue-500 text-white hover:text-white cursor-pointer;

  &.btn-primary {
    @apply bg-champion hover:bg-yellow-400;
  }

  &.btn-danger {
    @apply bg-red-500 hover:bg-red-400
  }
}


a {
  @apply text-blue-500 hover:text-blue-400
}

header a {
  @apply text-white hover:text-neutral-200;
}

.score-red-wins {
  background: linear-gradient(90deg, var(--color-team-red) 50%, var(--color-team-blue-light) 50%);
}

.score-red-wins-10 {
  background: linear-gradient(90deg, var(--color-champion) 50%, var(--color-team-blue-light) 50%);
}
.score-blue-wins {
  background: linear-gradient(90deg, var(--color-team-red-light) 50%, var(--color-team-blue) 50%);
}
.score-blue-wins-10 {
  background: linear-gradient(90deg, var(--color-team-red-light) 50%, var(--color-champion) 50%);
}
.score-draw {
  background: linear-gradient(90deg, var(--color-team-red-light) 50%, var(--color-team-blue-light) 50%);
}
