<%
  cols = show_game ? "grid-cols-[auto_1fr_1fr_1fr_auto_auto]" : "grid-cols-[1fr_1fr_1fr_auto_auto]"
%>

<div class="grid <%= cols %> items-center">
  <%= render partial: 'shared/result', collection: results.order("created_at ASC"), locals: {show_game: show_game} %>
</div>
