<%= turbo_frame_tag "ratings" do %>
  <table id='ratings'>
    <thead>
      <tr>
        <th class="text-left">Rank</th>
        <th class="text-left">Player</th>
        <th class="text-right">Wins</th>
        <% if @game.allow_ties %>
          <th class="text-right">Ties</th>
        <% end %>
        <th class="text-right">Losses</th>
        <th class="text-right">Rating</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'games/rating', collection: @game.all_ratings %>
    </tbody>
  </table>
<% end %>
