<div class="p-4">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl">Players</h1>
    <%= link_to "New player", new_player_path, data: { turbo_frame: "new_player" }, class: "btn" %>
  </div>

  <%= turbo_frame_tag "new_player", target: "_top" %>

  <ul class="players-list" id='players'>
    <%= render @players %>
  </ul>
</div>
